{% extends 'animal/index.html.twig' %}

{% block card %}
     <div class="card-body">  
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                <div class="card-header">
                    <h5>Quantidade total de ração necessária por semana</h5>
        
                    <p id="total-leite"><strong> {{racao}} Kg</strong></p>

                </div>
            
               
        </div>
    </div>

{% endblock %}
